<!DOCTYPE html>
<html>
    <head>
        <title>Animal Shelter</title>
    </head>
    <body>
        <div>
            <h1>Animal Shelter</h1>
            <a href="/">See All</a>
            <a href="/animals/new">Add Animal</a>
            {{#block "content"}}

            {{/block}}
        </div>
    </body>
</html>