{{#partial "header"}}
    <meta http-equiv="refresh" content="0; url=/">
{{/partial}}
{{#partial "content"}}

    <h1>Success!</h1>
    Animal has been saved.
    <a href="/">Go Back</a>

{{/partial}}

{{> layout.hbs}}